<html>
  <head>
    <title>RedisMUD | Login</title>
    <link rel="stylesheet" href="site.css">
  </head>
  <body>
    <header>
      <h1>Welcome to RedisMUD</h1>
    </header>
    <main>
      <% if (messages.error) { %>
        <p><%= messages.error %></p>
      <% } %>
      <form action="/login" method="POST">
        <label for="name">User</label>
        <input type="text" id="name" name="name" required autofocus/>
      
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required/>
      
        <button type="submit">Login</button>

        <a href="/signup">Sign Up</a>
      </form>
    </main>
  </body>
</html>



