<html>
  <head>
    <title>RedisMUD | Sign Up</title>
    <link rel="stylesheet" href="site.css">
  </head>
  <body>
    <header>
      <h1>RedisMUD - Sign Up</h1>
      <h2><a href="/login">Login Instead</a></h2>
    </header>
    <main>
      <form action="/signup" method="POST">
        <label for="name">User</label>
        <input type="text" id="name" name="name" required />
      
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required />
      
        <button type="submit">Sign Up</button>
      </form>
    </main>
  </body>
</html>



