@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

body {
  background-color: #333;
  margin: 40px auto;
  width: 1000px;
}

header {
  font-family: Raleway, sans-serif;
  color: #0c0;
  text-align: center;
}

main {
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  color: rgb(187, 187, 187);
  border-color: #070;
  border-width: 2px;
  border-style: solid;
  background-color: #111;
  text-align: left;
  padding: 10px;
  height: 75%;
  width: 100%;
}

main input {
  display: block;
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  color: rgb(187, 187, 187);
  background-color: #333;
  border-width: 1px;
  border-style: none;
  margin-bottom: 10px;
}

main label {
  display: block;
}

main button {
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  text-decoration: underline;
  border-width: 0px;
  cursor: pointer;
  color: #0c0;
  background-color: #111;
  padding: 0px;
}

main > form > a {
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  text-decoration: underline;
  border-width: 0px;
  cursor: pointer;
  color: #0c0;
  background-color: #111;
  padding: 0px;
}

main p {
  margin-top: 0px;
}

#text-panel {
  height: 94%;
  overflow: auto;
}

#text-input {
  margin-top: 10px;
  width: 100%;
}
